    # Python
    __pycache__/
    *.pyc
    *.pyo
    *.pyd
    
    # Virtual Environment
    .venv/
    venv/
    env/
    
    # IDE / Editor specific
    .idea/
    *.swp
    
    # OS specific
    .DS_Store