# 数据处理
pandas>=1.5.0
numpy>=1.21.0
openpyxl>=3.0.0
python-dateutil>=2.8.2

# 数据可视化与导出
plotly>=5.13.0
kaleido>=0.2.1        # 支持Plotly静态图片导出

# Web前端
streamlit>=1.22.0

# 可选：如有用到scikit-learn（机器学习/分组统计）
scikit-learn>=1.0.0

# 新增：
pymc
arviz
streamlit-option-menu
